@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  font-size: 12px;
}

.roboto400, .recipes__sample__foot-details .instruction {
  font-family: roboto;
  font-weight: 400;
}

.roboto700 {
  font-family: roboto;
  font-weight: 700;
}

.lato400, .recipes__sample__foot-details .quantity, .recipes__sample__foot-title h2, .filters__ustensiles__list-item, .filters__appareil__list-item, .filters__ingredients__list-item, .search__input {
  font-family: lato;
  font-weight: 400;
}

.lato700, .recipes__sample__foot-details .ingredient, .recipes__sample__foot-title .time, .filters__ustensiles__head-input, .filters__appareil__head-input, .filters__ingredients__head-input, .tag__red__item, .tag__green__item, .tag__blue__item {
  font-family: lato;
  font-weight: 700;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1240px;
  font-size: 12px;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 15px;
}

#logo {
  background: url(../svg/logo.svg) center center no-repeat;
  width: 268px;
  height: 93px;
}

.search {
  display: flex;
  flex-direction: row;
  position: relative;
}
.search__input {
  width: 100%;
  height: 69px;
  background-color: #e7e7e7;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  margin: 10px 0;
  font-size: 1.5rem;
  transition: all 0.4s ease;
}
.search__input::placeholder {
  color: rgba(0, 0, 0, 0.37);
}
.search__input:hover {
  box-shadow: 0 0 0.7rem #e7e7e7, 0 0 1.3rem #e7e7e7, 0 0 2rem #e7e7e7, 0 0 2.8rem #e7e7e7;
}
.search__input:focus {
  box-shadow: 0 0 0.7rem #e7e7e7, 0 0 1.3rem #e7e7e7, 0 0 2rem #e7e7e7, 0 0 2.8rem #e7e7e7;
  outline-style: none;
}
.search__logo {
  position: absolute;
  right: 10px;
  top: 30px;
  font-size: 2.5rem;
  font-weight: lighter;
  cursor: pointer;
}

.animOpen {
  animation: animOpen 0.6s forwards;
}

@keyframes animOpen {
  0% {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    visibility: visible;
    width: 667px;
    height: auto;
    opacity: 1;
  }
}
.animClose {
  animation: animClose 0.9s forwards;
}

@keyframes animClose {
  0% {
    visibility: visible;
    width: 667px;
    height: auto;
    opacity: 1;
  }
  10% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    width: 0;
    height: 0;
  }
}
.tagAnim {
  animation: tagAnim 1.2s cubic-bezier(0.09, 0.65, 0.29, 0.96) forwards;
}

@keyframes tagAnim {
  0% {
    transform: scale(0.5);
  }
  30% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}
.tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.tag__blue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag__blue__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 107px;
  width: auto;
  height: 37px;
  padding: 0 10px;
  margin-right: 20px;
  margin-top: 12px;
  background-color: #3282f7;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.tag__blue__item:hover {
  box-shadow: 0px 0px 3px #3282f7, 0px 0px 6px #3282f7, 0px 0px 9px #e7e7e7;
  transform: scale(1.02);
}
.tag__blue__item:focus {
  box-shadow: 0px 0px 3px #3282f7, 0px 0px 6px #3282f7, 0px 0px 9px #e7e7e7;
}
.tag__blue__item i {
  font-size: 1.8rem;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: transparent;
  border-radius: 50%;
}
.tag__blue__item i:hover {
  box-shadow: 0px 0px 10px white, 0px 0px 20px #e7e7e7, 0px 0px 30px #e7e7e7, inset 0px 0px 3px white, inset 0px 0px 6px #e7e7e7, inset 0px 0px 9px #e7e7e7;
}
.tag__green {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag__green__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 107px;
  width: auto;
  height: 37px;
  padding: 0 10px;
  margin-right: 20px;
  margin-top: 12px;
  background-color: #68d9a4;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.tag__green__item:hover {
  box-shadow: 0px 0px 3px #68d9a4, 0px 0px 6px #68d9a4, 0px 0px 9px #e7e7e7;
}
.tag__green__item:focus {
  box-shadow: 0px 0px 3px #68d9a4, 0px 0px 6px #68d9a4, 0px 0px 9px #e7e7e7;
}
.tag__green__item i {
  font-size: 1.8rem;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: transparent;
  border-radius: 50%;
}
.tag__green__item i:hover {
  box-shadow: 0px 0px 10px white, 0px 0px 20px #e7e7e7, 0px 0px 30px #e7e7e7, inset 0px 0px 3px white, inset 0px 0px 6px #e7e7e7, inset 0px 0px 9px #e7e7e7;
}
.tag__red {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag__red__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 107px;
  width: auto;
  height: 37px;
  padding: 0 10px;
  margin-right: 20px;
  margin-top: 12px;
  background-color: #ed6454;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.tag__red__item:hover {
  box-shadow: 0px 0px 3px #ed6454, 0px 0px 6px #ed6454, 0px 0px 9px #e7e7e7;
}
.tag__red__item:focus {
  box-shadow: 0px 0px 3px #ed6454, 0px 0px 6px #ed6454, 0px 0px 9px #e7e7e7;
}
.tag__red__item i {
  font-size: 1.8rem;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: transparent;
  border-radius: 50%;
}
.tag__red__item i:hover {
  box-shadow: 0px 0px 10px white, 0px 0px 20px #e7e7e7, 0px 0px 30px #e7e7e7, inset 0px 0px 3px white, inset 0px 0px 6px #e7e7e7, inset 0px 0px 9px #e7e7e7;
}

.filters {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 5px;
  height: auto;
}
.filters__ingredients {
  background-color: #3282f7;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: auto;
  height: max-content;
  cursor: pointer;
  transition: all 0.4s ease;
}
.filters__ingredients:hover {
  box-shadow: 0px 0px 5px #3282f7, 0px 0px 10px #3282f7, 0px 0px 15px #3282f7;
}
.filters__ingredients__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
  height: 69px;
  margin: 0 10px;
  border-radius: 5px;
  color: #fff;
}
.filters__ingredients__head-input {
  background-color: #3282f7;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  width: 115px;
}
.filters__ingredients__head-input::placeholder {
  color: #fff;
  font-size: 1.5rem;
}
.filters__ingredients__head-input:focus {
  outline-style: none;
}
.filters__ingredients__head-arrow {
  font-size: 1.7rem;
  margin-right: 10px;
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.filters__ingredients__head-arrow:hover {
  transform: rotate(0deg);
}
.filters__ingredients__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-top: -10px;
  line-height: 2.5rem;
  visibility: hidden;
  width: 0;
  height: 0;
  transition: all 0.5s;
}
.filters__ingredients__list-item {
  font-size: 1.5rem;
  list-style-type: none;
  width: 33%;
  max-height: 50px;
  cursor: pointer;
}
.filters__appareil {
  background-color: #68d9a4;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: auto;
  margin-left: 20px;
  transition: all 0.4s ease;
}
.filters__appareil:hover {
  box-shadow: 0px 0px 5px #68d9a4, 0px 0px 10px #68d9a4, 0px 0px 15px #68d9a4;
}
.filters__appareil:focus {
  box-shadow: 0px 0px 5px #68d9a4, 0px 0px 10px #68d9a4, 0px 0px 15px #68d9a4;
}
.filters__appareil__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
  height: 69px;
  margin: 0 10px;
  border-radius: 5px;
  color: #fff;
}
.filters__appareil__head-input {
  background-color: #68d9a4;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  width: 115px;
}
.filters__appareil__head-input::placeholder {
  color: #fff;
  font-size: 1.5rem;
}
.filters__appareil__head-input:focus {
  outline-style: none;
}
.filters__appareil__head-arrow {
  font-size: 1.7rem;
  margin-right: 10px;
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.filters__appareil__head-arrow:hover {
  transform: rotate(0deg);
}
.filters__appareil__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-top: -10px;
  line-height: 2.5rem;
  visibility: hidden;
  width: 0;
  height: 0;
  transition: all 0.5s;
}
.filters__appareil__list-item {
  font-size: 1.5rem;
  list-style-type: none;
  width: 33%;
  max-height: 50px;
  cursor: pointer;
}
.filters__ustensiles {
  background-color: #ed6454;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: auto;
  margin-left: 20px;
  transition: all 0.4s ease;
}
.filters__ustensiles:hover {
  box-shadow: 0px 0px 5px #ed6454, 0px 0px 10px #ed6454, 0px 0px 15px #ed6454;
}
.filters__ustensiles:focus {
  box-shadow: 0px 0px 5px #ed6454, 0px 0px 10px #ed6454, 0px 0px 15px #ed6454;
}
.filters__ustensiles__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
  height: 69px;
  margin: 0 10px;
  border-radius: 5px;
  color: #fff;
}
.filters__ustensiles__head-input {
  background-color: #ed6454;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  width: 115px;
}
.filters__ustensiles__head-input::placeholder {
  color: #fff;
  font-size: 1.5rem;
}
.filters__ustensiles__head-input:focus {
  outline-style: none;
}
.filters__ustensiles__head-arrow {
  font-size: 1.7rem;
  margin-right: 10px;
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.filters__ustensiles__head-arrow:hover {
  transform: rotate(0deg);
}
.filters__ustensiles__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ed6454;
  color: #fff;
  padding-left: 15px;
  margin-top: -10px;
  line-height: 2.5rem;
  transition: all 0.5s ease;
  visibility: hidden;
  width: 0;
  height: 0;
}
.filters__ustensiles__list-item {
  font-size: 1.5rem;
  list-style-type: none;
  width: 33%;
  max-height: 50px;
  cursor: pointer;
}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}
.recipes__sample {
  width: 380px;
  height: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 50px;
  transition: all 0.4s ease;
  transform: translateY() rotate(0deg);
  box-shadow: -2px 5px 10px #a39b9b, -2px 5px 20px #e7e7e7, -2px 5px 30px #e7e7e7;
}
.recipes__sample:hover {
  box-shadow: -7px 10px 10px #a39b9b, -7px 10px 20px #e7e7e7, -7px 10px 30px #e7e7e7;
  transform: translateY(-10px) rotate(-1deg);
}
.recipes__sample:focus {
  box-shadow: -7px 10px 10px #8d8686, -7px 10px 20px #e7e7e7, -7px 10px 30px #e7e7e7;
  transform: translateY(-10px);
}
.recipes__sample__head {
  background-color: #c7bebe;
  height: 178px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.recipes__sample__foot {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 186px;
  width: 380px;
}
.recipes__sample__foot-title {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipes__sample__foot-title h2 {
  font-size: 1.5rem;
  margin-top: 20px;
}
.recipes__sample__foot-title .time {
  font-size: 1.5rem;
  text-align: right;
  padding-right: 20px;
}
.recipes__sample__foot-title .time i {
  margin-right: 5px;
}
.recipes__sample__foot-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -10px;
}
.recipes__sample__foot-details .details {
  display: flex;
  flex-direction: row;
  height: 15px;
}
.recipes__sample__foot-details .ingredient {
  padding-left: 20px;
}
.recipes__sample__foot-details .quantity {
  margin-left: 3px;
}
.recipes__sample__foot-details .instruction {
  padding-right: 20px;
  font-size: 1rem;
  font-variation-settings: "wght" 600;
  line-height: 1;
  margin-top: 15px;
  width: 190px;
}

/*# sourceMappingURL=style.css.map */
